---
import '@fontsource/poly';
import bgVale from "../images/bg-vale.png";
import valeText from '../images/vale-text.svg';
---
<style define:vars={{bg:`url("${bgVale.src}")`}}>
.vale{
	background-image: var(--bg);
	background-size: cover;
	background-position: center;
}

body{
	font-family: 'poly';
}

</style>

<script>
	const boton = document.querySelector(".reproductor");
const audioEtiqueta = document.querySelector("audio");

boton.addEventListener("click", () => {
  const playing = boton.getAttribute("data-playing");

  if (!playing) {
    audioEtiqueta.src = "https://pub-c6f56a3478ba4de7a25f81a088d063ba.r2.dev/redbone.mp3";
    audioEtiqueta.play();
    boton.setAttribute("data-playing", true);
  } else {
    audioEtiqueta.pause();
    boton.setAttribute("data-playing", false);
  }
});
</script>

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<div class="overflow-y-scroll snap-y snap-mandatory sm:hidden">
			<div class="h-screen">
				<div class="vale w-screen h-screen snap-start snap-always flex flex-col justify-between py-4">
					<img class="mx-auto py-4" src={valeText.src} alt="">
					<div class="flex flex-col items-center">
					<h2 class="text-4xl text-white text-center">Mis XV años</h2>
					<div class="bg-white px-6 py-4 rounded-lg flex">
					<button class="reproductor">
						<svg xmlns="http://www.w3.org/2000/svg" class="play" height="1em" viewBox="0 0 384 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><path d="M73 39c-14.8-9.1-33.4-9.4-48.5-.9S0 62.6 0 80V432c0 17.4 9.4 33.4 24.5 41.9s33.7 8.1 48.5-.9L361 297c14.3-8.7 23-24.2 23-41s-8.7-32.2-23-41L73 39z"/>
						</svg>
					</button>
					<div class="w-px bg-black ml-3">
					</div>
					<div class="ml-2">
					<h3>Redbone</h3>
					<p class="text-xs text-gray-500">Childish Gambino</p>
					</div>
					</div>
					<audio src="audio.mp3"></audio>
				    </div>
				</div>
				<div class="w-screen h-screen bg-red-900 snap-start snap-always"></div>
				<div class="w-screen h-screen bg-yellow-800 snap-start snap-always"></div>
				<div class="w-screen h-screen bg-purple-300 snap-start snap-always"></div>
			</div>
		</div>	
	</body>
	</html>
